@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Directions)
    @Html.TextBoxFor(model => model.Directions)

    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating,  new { @min="0" , @max="5" , type = "number"})

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
